body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}

.tituloItemCarousel{
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;

}

.itemCarousel{
    font-size: 14px;
    font-family: "Open Sans", sans-serif;

}

.carousel {
    overflow: hidden;
    width: 100%;
    height: 500px; /* Altura da imagem */
  }
  
.carousel-images {
    display: flex;
    width: 140%; /* Largura total das imagens */
    margin-left: 110px;
}
  
.item{
    width: 255px; 
    height: 400px; 
    margin: 20px; 
    background-color: white;
    border-radius: 10px;
    margin-top: 10px; 
    text-align: center;
}
  
.carousel-images img {
    width: 220px;
    height: 220px;
    border-radius: 10px;
    margin-top: 10px;
}

#onda img{
    position: absolute; 
    width: 100%; 
    height: 199px;  
    top: 1200px; 
    background-size: cover;
    background-position: center;
}

header {
    padding-top: 100px;
    display: flex;
    width: 100%;
    height: 559px;
    background-size: cover;
    background-repeat: no-repeat; 
    background-image: url(imgs/header.png);


}

#onda{
    width: 100%;

}

#nav {
    margin: 0;
    padding: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #57290B;
    position: fixed;
    z-index: 1000;
    width: 100%;

}

#telefoneNav{
    color: white; 
    font-size: 18px;
    margin: 0;
    font-family: "Cormorant Garamond", serif;

}

.itemNav{
   color: white; 
   font-size: 18px;
   margin: 0;
   position: relative;
   font-family: "Cormorant Garamond", serif;
 
}

.itemNav::after{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 60%;
    height: 3px;
    background-color: #B2784A;
    border-radius: 3px;
    transform: translateX(-50%);
}

#cafeteria{
    color: white; 
    font-size: 40px;
    margin: 0;
    position: relative;
    margin-top: 200px;
    font-family: "Cormorant Garamond", serif;
  
 }
 
 #cafeteria::after{
     content: '';
     position: absolute;
     bottom: -5px;
     left: 50%;
     width: 60%;
     height: 3px;
     background-color: #B2784A;
     border-radius: 3px;
     transform: translateX(-50%);
 }


#fone{
    color: #B2784A;
    margin: 3px;
}
.divTelefone{
    display: flex;
    align-items: center;
}
#imgNav{
    margin-top: 17px;
    width: 43px; 
    height: 54.86px; 
    left: 698px; 
    top: 7px;

}
#divNavCentral{
    text-align: center;

}
#itemNav2{
    margin-top: auto;
    color: #F0F0F0; 
    font-size: 15px;
    font-weight: lighter;
    font-family: "Cormorant Garamond", serif;

}

#divHeader{
    width: 589px;
    height: 310px;
    margin-left: 119px;
    margin-top: 30px;
    font-family: "Open Sans", sans-serif;

}

#tituloHeader{
    color: white;
    font-size: 56px;
    font-weight: 700;
}

#subTituloHeader{
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.botao{
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #8F542E;
    color: #F0F0F0;
    height: 47px;
    width: 190px;
    font-size: 18px;
    font-weight: 800;
    font-family: "Open Sans", sans-serif;

}

#sobreNos{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-around;
    align-items: center;
}

#textoSobre{
    width: 589px;
    height: 170px;
    color: #1F0C00;
    font-size: 18px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 50px;
    
}

#tituloSobre{
    font-size: 40px;
    color: #1F0C00;
    font-family: "Cormorant Garamond", serif;
    
}

.fundoMarrom{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56px;
    width: 255px;
    background: linear-gradient(to bottom, transparent 50%, #FBC9A8 50%);
}

#imgSobre{
    width: 352px;
    height: 340px;
}

#containerSobre{
    margin-top: -40px;
}

#carouselBackground{
    height: 745px; 
    background-color: #80451F;
}

#containerTituloCarousel{
    display: flex; 
    justify-content: center;
    margin-bottom: 30px;
}

#entreEmContato {
    display: flex;
    height: 130vh;
    width: 80%;
    align-items: flex-start;
    flex-direction: column;
    margin: 70px auto;
    padding: 20px;
}

.titleContato {
    margin-bottom: 0px;
  }
  
  .titleContato h2 {
    text-align: left;
    font-size: 35px;
    position: relative;
    z-index: 1;
    font-family: "Cormorant Garamond", serif;
  }
  
.underline {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, transparent 50%, #FBC9A8 50%);
    padding: 0 20px;
    height: 42px;
  }

.containerContato {
    width: 100%;
    margin-top: 60px;
    display: flex;
    overflow: hidden;
    height: 680px;
    max-width: 1000px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: -5px 0px 10px -5px rgba(0.1, 0.1, 0.1, 0.2), 5px 0px 10px -5px rgba(0.2, 0.2, 0.3, 0.3);
}


.info {
    background-color: #8F542E;
}

.info,
.form {
    flex: 1;
    padding: 10px;
}

p {
    line-height: 1.6;
}

.divNumber {
    display: flex;
    align-items: center;
    margin: 20px 20px;
    margin-bottom: 15px;
}

.divNumber i {
    display: flex;
    color: white;
    font-size: 25px;
    margin-right: 5px;
}

.divNumber span {
    display: flex;
    font-size: 15px;
    color: #f0f0f0;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.divEmail {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.divEmail i{
    display: flex;
    color: white;
    font-size: 22px;
    margin-right: 5px;
}

.divEmail span {
    display: flex;
    font-size: 15px;
    color: #f0f0f0;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.divLocation {
    display: flex;
    margin-left: 20px;
}

.divLocation i{
    display: flex;
    font-size: 25px;
    color: #f0f0f0;
    margin-top: 1.1em;
    margin-right: 5px;
}

.divLocation p{
    display: flex;
    font-size: 15px;
    color: #F0F0F0;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.divider{
    width: 300px;
    border: none;
    border-radius: 2px;
    display: flex;
    margin: 10px 20px;
    border-bottom: 3px solid #B2784A;
}

.divInstagram {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.divInstagram i{
    display: flex;
    font-size: 25px;
    color: white;
    margin-right: 5px;
}

.divInstagram span {
    display: flex;
    color: #F0F0F0;
    font-size: 15px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.divFacebook {
    display: flex;
    margin-left: 20px;
    align-items: center;
    font-size: 16px;
}

.divFacebook i {
    display: flex;
    margin-right: 5px;
    color: #f0f0f0;
    font-size: 25px;
    margin-right: 5px;
}

.divFacebook span{
    display: flex;
    color: #F0F0F0;
    font-size: 15px;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}

.containerIcon{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cafezinhoBranco {
    display: flex;
    width: 50px; 
    height: 230px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.cafezinhoBranco svg{
    display: flex;
}

.textIcon{
    display: flex;
    font-size: 30px;
    color: #F0F0F0;
    text-align: center;
    margin-top: -20px;
    font-family: "Cormorant Garamond", serif;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    display: flex;
    margin-bottom: 0px;
}

.form{
    padding: 30px;
    background-color:#F5F3ED;
    font-weight: bold;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
}


input[type="text"],
input[type="email"],
textarea {
    display: flex;
    border: 1px solid #8F542E;
    border-radius: 5px;  
    height: 60px;
    margin-bottom: 10px;
    margin-top: -20px;
}

textarea[name="message"] {
    display: flex;
    width: 100%; 
    height: 200px; 
    margin-bottom: 20px;
}

#botaoMsg {
    display: flex;
    color: #F0F0F0;
    border-radius: 5px;
    align-items: center;
    text-decoration: none;
    background-color: #8F542E;
    justify-content: space-around;
    height: 50px;
    width: 230px;
    font-size: 17px;
    font-weight: 800;
    padding: 0px 15px;
}

#botaoMsg:hover {
    display: flex;
    background-color: #B2784A;
}

.findUs{
    display: none;
}

.findUs h3 {
    text-align: center;
    margin-bottom: 20px;
}

.socialMedia {
    display: flex;
    justify-content: center;
}

.socialMedia i {
    font-size: 70px;
    margin: 0 20px;
}


footer{
    background-color: #57290B;
    color: #ffdab8;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    padding: 10px 110px;

}

@media screen and (max-width: 768px){

    #nav {
        flex-direction: column;
        height: 80px;
        align-items: center;
        position: absolute;
    }

    #divNavCentral {
        display: flex;
        margin-top: 10px; 
        text-align: center;
        justify-content: center;
        align-items: center;
    }


    #divLogoCentral {
        margin-top: 10px; 
    }

    #imgNav{
        margin-bottom: 0;
        margin-top: -15px;
        margin-right: 20px;      
    }

    #cafeteria{
        color: white; 
        font-size: 40px;
        margin: 0;
        position: relative;
        margin-top: 100px;
        font-family: "Cormorant Garamond", serif;
      
    }

    .carousel {
        overflow-x: auto; /* Alterado para permitir rolagem horizontal */
        overflow-y: hidden; /* Oculta a rolagem vertical */
        width: 100%;
        height: auto; /* Ajustado para altura automática */
      }

    .carousel-images {
        display: flex;
        width: 100%; /* Largura total das imagens */
        margin-left: 80px;
    }

    .carousel-images img {
        width: 180px;
        height: 180px;
        border-radius: 10px;
      }


    #containerTituloCarousel{
        display: flex; 
        justify-content: center;
        margin-bottom: 30px;
    }

    .tituloItemCarousel{
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        font-weight: bold;
    
    }
    
    .itemCarousel{
        font-size: 15px;
        font-family: "Open Sans", sans-serif;
    
    }


    #onda img{
        position: absolute; 
        width: 100%; 
        height: 99px;  
        top: 880px; 
    }

    .item{
        padding: 10px;
        width: 220px;
        height: 360px;
        background-color: white;
        border-radius: 5px;
    }

    .itemNav{
        display: none;
    }
    #telefoneNav{
        display: none;
    }

    .sublinhado{
        display: none;
    }

    #fone{
        display: none;
    }

    #itemNav2 {
        text-align: center;
        margin: 0;
        font-family: "Cormorant Garamond", serif;
        font-size: 18px;
    }

    header{
        display: flex;
        width: 100%;
        height: 242px;
        background-size: cover;
        background-repeat: no-repeat; 
        background-image: url(imgs/header.png);
    }

    #divHeader{
        margin-left: 20px;
    }

    #subTituloHeader{
        display: none;
    }

    #tituloHeader{
        color: white;
        font-size: 28px;
        font-weight: 600;
        height: 96px;
        width: 300px;
    }

    .botao{
        border-radius: 15px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #8F542E;
        color: #F0F0F0;
        height: 44px;
        width: 150px;
        font-size: 14px;
        font-weight: 800;
    }

    #imgSobre{
        display: none;
    }

    #tituloSobre{
        font-size: 24px;
        color: #1F0C00;
        
    }

    .fundoMarrom{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 42px;
        width: 159px;
        background: linear-gradient(to bottom, transparent 50%, #FBC9A8 50%);
    }

    #textoSobre{
        width: 280px;
        height: 330px;
        color: #1F0C00;
        font-size: 18px;
    }

    #botaoFale{
        display: flex;
        justify-content: center;
    }

    #sobreNos{
        display: flex;
        width: 100%;
        height: 570px;
        justify-content: space-around;
        align-items: center;
    }

    #entreEmContato {
        height: 100%;
        margin-top: 90px;
        margin-bottom: 30px;
    }

    .underline{
        display: flex;
        height: 30px;
        width: 400px;
        padding: 10px 0px;
    }

    .titleContato {
        text-align: left;
    }

    .containerContato {
        height: 690px;
        box-shadow: 5px 5px 10px -5px rgba(0.5, 0.5, 0.5, 0.5);
    }

    .info {
        display: none;
    }

    .info,
    .form {
        flex: 1;
        padding: 10px;
    }

    p {
        line-height: 1.6;
    }

    .divNumber {
        display: flex;
        align-items: center;
        margin: 20px 20px;
        margin-bottom: 15px;
    }

    .divNumber i {
        display: flex;
        color: white;
        font-size: 25px;
        margin-right: 5px;
    }

    .divNumber span {
        display: none;
    }

    .divEmail {
        display: none;
    }

    .divEmail i{
        display: none;
    }

    .divEmail span {
        display: none;
    }

    .divLocation {
        display: none;
    }

    .divLocation i{
        display: none;
    }

    .divLocation p{
        display: none;
    }

    .divider{
        display: none;
    }

    .divInstagram {
        display: flex;
        align-items: center;
        margin-left: 20px;
        margin-top: 30px;
        margin-bottom: 15px;
    }

    .divInstagram i{
        display: flex;
        font-size: 25px;
        color: white;
        margin-right: 5px;
    }

    .divInstagram span {
        display: none;
    }

    .divFacebook {
        display: flex;
        margin-left: 20px;
        align-items: center;
        font-size: 16px;
    }

    .divFacebook i {
        display: flex;
        margin-right: 5px;
        color: #f0f0f0;
        font-size: 25px;
        margin-right: 5px;
    }

    .divFacebook span{
        display: none;
    }

    .containerIcon{
        display: none;
    }

    .cafezinhoBranco {
        display: none;
    }

    .cafezinhoBranco svg{
        display: none;
    }

    .textIcon{
        display: none;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    label {
        display: flex;
    }

    .form{
        padding: 30px;
        background-color:#F5F3ED;
        font-size: 20px;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        display: flex;
        border: 1px solid #8F542E;
        border-radius: 5px;  
        height: 60px;
        margin-bottom: 10px;
    }

    textarea[name="message"] {
        display: flex;
        width: 100%; 
        height: 200px; 
        margin-bottom: 20px;
    }

    #botaoMsg {
        display: flex;
        color: #F0F0F0;
        border-radius: 5px;
        align-items: center;
        text-decoration: none;
        background-color: #8F542E;
        justify-content: space-around;
        height: 50px;
        width: 230px;
        font-size: 17px;
        font-weight: 800;
    }

    #botaoMsg:hover {
        display: flex;
        background-color: #B2784A;
    }

    .findUs {
        display: block;
        color: #1F0C00;
        font-family: "Open Sans", sans-serif;
        font-weight: lighter;
        margin-top: 50px;
        margin-bottom: 90px;
    }

    .socialMedia i{
        color: #8F542E;
        margin-top: 10px;
    }

    footer{
        color: #EBDACC;
        padding: 15px;
        flex-direction: column;
    }

    footer p{
        margin: 2px 30px;
    }

}

