body{
    margin: 0;
}
header {
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #57290B;

}

.cabecalho{
   color: white; 
   font-size: 18px;
   margin: 0;
 
}
.sublinhado{
    width: 43px;
    height: 2px;
    background-color: #B2784A;
    margin: 0 auto;

}
#fone{
    color: #B2784A;
    margin: 3px;
}
.divTelefone{
    display: flex;
    align-items: center;
}
#imgCabecalho{
    margin-top: -20px;
    margin-bottom: -35px;
    width: 120px;
    height: 120px;

}
#divHeaderCentral{
    text-align: center;

}
#cabecalho2{
    color: #F0F0F0; 
    font-size: 15px;
    font-weight: lighter;

}
@media screen and (max-width: 768px){
    .cabecalho{
        display: none;
    }
    .sublinhado{
        display: none;
    }
    #fone{
        display: none;
    }
    #divHeaderCentral{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    #imgCabecalho{
        margin-bottom: 0;
    }
    #divCabecalhoCentral{
        width: 100%;
        margin-left: -100px;
    }

}
